.sidebar
//	margin-top 30px
	margin-bottom 30px
	padding-top 10px
	padding-bottom 10px
	text-shadow 0px 1px 0px rgb(255, 255, 255)
	background-color rgb(247, 245, 250)
	border-radius 5px
	
.wrap
	min-height: 100%
	height: auto
	margin: 0px auto -60px
	padding: 0px 0px 60px

#footer
	height 60px
	background-color rgb(245, 245, 245)

#loginbox
	margin 20% auto
	max-width 400px
	padding 15px
	background-color rgb(225, 225, 225)
	border-radius 10px
.post
	margin 84px auto 20px